.card_app {
    /* height: 212px; */
    min-width: 320px;
    /* width: 280px; */
}

.card_number {
    /* padding: 5px; */
    margin-left: 5px;
}

.view_disclaimer {
    min-height: 180px;
    padding: 10px;
    width: 320px;
    height: 180px;
}

.adsbygoogle {
    min-width: 90%;
    /* min-height: 100px; */
    min-height: 150px;
}

@media (min-width:500px) {
    .adsbygoogle {
        /* min-height: 60px; */
        min-height: 100px;
    }
}

@media (min-width:800px) {
    .adsbygoogle {
        /* min-height: 90px; */
        min-height: 150px;
    }
}


/* ins {
    min-width: 300px;
    min-height: 50px;
}

.adsbygoogle {
    min-width: 300px;
    min-height: 100px;
} */


/* .adBlock {
    width: 300px;
    height: 100px;
}

@media (min-width:500px) {
    .adBlock {
        width: 468px;
        height: 60px;
    }
}

@media (min-width:800px) {
    .adBlock {
        width: 728px;
        height: 90px;
    }
} */