<!-- <update-meta property="og:title" content="prova prova"></update-meta>
<update-meta name="title" content="sdsdaserss" ></update-meta> -->

<md-content flex layout="row">

  <div layout="column" layout-fill layout-align="center center">
    <!-- <div class="main_login" flex layout="column" layout-fill> -->
    <!-- {{owner.profile.email}} -->
    <!-- se trovata -->
    <div flex layout-fill layout="column" layout-align="start stretch" ng-if="$ctrl.getApp != undefined">

      <!-- <update-meta property="og:title" content="prova prova"></update-meta>
      <update-meta name="title" content="sdsdaserss" ></update-meta> -->
      
      <md-card class="card_appa">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{$ctrl.getApp.info.info[0].CFBundleName}}</span>
            <span class="md-subhead">{{$ctrl.getApp.info.info[0].CFBundleIdentifier}}</span>
            <span class="md-subhead">{{$ctrl.getApp.info.info[0].CFBundleShortVersionString}}</span>
            <span class="md-subhead">{{$ctrl.getApp.info.info[0].CFBundleVersion}}</span>
            <span class="md-subhead">{{$ctrl.getApp.info.uploadedAt * 1000 | date:'medium'}}</span>
            <!-- <span class="md-headline">Test app</span>
                <span class="md-subhead">com.app.test</span>
                <span class="md-subhead">1.1</span>
                <span class="md-subhead">10</span>
                <span class="md-subhead">{{app.info.uploadedAt * 1000 | date:'medium'}}</span> -->
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media">
              <div layout="column">
                <div layout="row" layout-align="end center">
                  <i class="material-icons">remove_red_eye</i>
                  <span class="card_number">{{$ctrl.getApp.info.view}}</span>
                </div>
                <div layout="row" layout-align="end center">
                  <i class="material-icons">cloud_download</i>
                  <span class="card_number">{{$ctrl.getApp.info.download}}</span>
                </div>
              </div>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="space-between center">
          <div>
            <!-- <i class="material-icons">delete</i> -->
            <md-menu>
              <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
                <!-- <md-icon md-menu-origin md-svg-icon="call:textsms"></md-icon> -->
                <i class="material-icons" tooltip="share">share</i>
              </md-button>
              <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                <md-menu-item>
                  <md-button ng-click="share($ctrl.getApp, 'facebook')">
                    facebook
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="share($ctrl.getApp, 'skype')">
                    skype
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="share($ctrl.getApp, 'twitter')">
                    twitter
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="share($ctrl.getApp, 'telegram')">
                    telegram
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="share($ctrl.getApp, 'email')">
                    email
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="share($ctrl.getApp, 'google')">
                    google
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <md-button class="md-raised md-primary" ng-if="showLink && ios()" ng-click="updateDownload()" ng-href="{{$ctrl.getApp.info.temporaryLinkPlist.result.itunes_link}}">Install</md-button>
          <md-button class="md-raised md-primary" ng-disabled="true" ng-if="!showLink && ios()">Processing</md-button>
          <md-button class="md-raised md-primary" ng-disabled="true" ng-if="!ios()">Use safari</md-button>          
        </md-card-actions>
      </md-card>

      <!-- adsense -->
      <div layout="column" layout-align="center center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-fe+6a+31-k2+pr" data-ad-client="ca-pub-3399063052461927"
          data-ad-slot="9014458121"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

      <md-card class="card_appa">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Owner</span>
            <span class="md-subhead">{{owner.profile.user_info.name.display_name}}</span>
            <span class="md-subhead">{{owner.profile.user_info.email}}</span>
            <!-- <span class="md-subhead">Owner file</span>
                <span class="md-subhead">owner@test.io</span> -->
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media">
              <img ng-src="{{owner.profile.user_info.profile_photo_url}}">
              <!-- <img src="https://maxcdn.icons8.com/Share/icon/p1em/Very_Basic//share1600.png"> -->
            </div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
      <!-- </div>

        <div flex layout="row" layout-align="center center" style="height: 200px;"> -->
      <md-card class="card_appa">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Disclaimer</span>
          </md-card-title-text>
          <md-card-title-media>
            <a href="mailto:infoabbashare@gmail.com">contact us</a>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="space-between center" style="padding: 8px">
          <span>
            <strong>#abbashare</strong> is for developers and testers. Any app considered as illegal will be deleted without notice,
            and the uploader might be held responsible.
          </span>
        </md-card-actions>
      </md-card>
    </div>

    <!-- se in caricamento o non trovata -->
    <div flex layout="row" layout-align="center center">
      <md-card flex="50" class="card_app" ng-if="$ctrl.getApp == undefined">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Not found</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>

    </div>
  </div>
  <!--  -->
  <!-- </div> -->
</md-content>