<div layout="column" layout-fill class="home_body">

  <md-content flex layout="column">

    <md-progress-linear ng-if="progress > 0" md-mode="determinate" value="{{progress}}"></md-progress-linear>


    <div layout="row">
      <div layout="column">
        <span>Users: {{$ctrl.allUsers.length}}</span>
        <div ng-repeat="user in $ctrl.allUsers">
          <span>{{user.profile.user_info.email}}</span>
        </div>
      </div>

      <div layout="row" layout-wrap flex>
        <md-card flex="20" class="card_app_home" ng-repeat="app in $ctrl.myApps">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{app.info.info[0].CFBundleName}}</span>
              <span class="md-subhead">{{app.info.info[0].CFBundleIdentifier}}</span>
              <span class="md-subhead">{{app.info.info[0].CFBundleShortVersionString}}</span>
              <span class="md-subhead">{{app.info.info[0].CFBundleVersion}}</span>
              <span class="md-subhead">{{app.info.uploadedAt * 1000 | date:'medium'}}</span>
              <!-- <span class="md-headline">Test app</span>
              <span class="md-subhead">com.app.test</span>
              <span class="md-subhead">1.1</span>
              <span class="md-subhead">10</span>
              <span class="md-subhead">{{app.info.uploadedAt * 1000 | date:'medium'}}</span> -->
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <div layout="column">
                  <div layout="row" layout-align="end center">
                    <i class="material-icons">remove_red_eye</i>
                    <span class="card_number">{{app.info.view}}</span>
                  </div>
                  <div layout="row" layout-align="end center">
                    <i class="material-icons">cloud_download</i>
                    <span class="card_number">{{app.info.download}}</span>
                  </div>
                </div>
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="space-between center">

            <div>
              <i class="material-icons" ng-click="deleteApp(app)">delete</i>
            </div>
            <!-- <div layout="row" layout-align="space-between center"> -->
            <!-- <i class="material-icons">perm_device_information</i> -->
            <!-- <i class="material-icons">delete</i> -->
            <!-- </div> -->
            <!-- <md-button class="md-raised md-warn" ng-disabled="app.info.uploaded != true">X</md-button> -->
            <md-button class="md-raised md-primary" ng-disabled="app.info.uploaded != true" target="_blank" ng-href="/view/{{app.info.shortId}}">Show</md-button>
            <!-- </div> -->
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </md-content>
</div>