<div layout="column">

    <md-content flex>

        <div layout="row" class="loading_spinner" ng-if="loading" layout="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <!-- <slick infinite="true" lazy-load="progressive" slides-to-show="1" slides-to-scroll="1" autoplay="true"> -->
        <div>
            <img class="login_wallpaper" src="/assets/img/wallpaper/img4.jpg">
        </div>
        <!-- <div>
        <img class="login_wallpaper" data-lazy="/assets/img/wallpaper/img5.jpg">
      </div> -->
        <!-- <div>
        <img class="login_wallpaper" data-lazy="/assets/img/wallpaper/img6.jpg">
      </div> -->
        <!-- <div>
        <img class="login_wallpaper" src="/assets/img/wallpaper/img3.png">
      </div> -->
        <!-- </slick> -->

        <!-- box 1 -->
        <div flex layout="column" class="login_box_sx" layout-align="center center">
            <span class="login_box_title">
        <h1>#abbashare</h1>
      </span>
            <div class="div-1dp" layout layout-align="center center">
                <span class="box_description">

          <!-- abbashare is a tool for developers to deploy ios (AdHoc and InHouse) app directly to the devices of developers.
          <br>You can runtime change the privacy of the sharing, there are three possibilities: public, disable or at your team. -->

          simplifies the installation process of your ios apps (.ipa files), with adhoc or inhouse profiles, via browser,
          <br> without using TestFlight
          <br>
          <br> With an AdHoc profile, you can install your test app only on devices that have the UUIDs you saved.
          <br> With an InHouse profile, you can install your test app on a lot more devices without having to worry about collecting
          UUIDs.
          <br>
          <strong>#abbashare</strong> works only with Safari on iOS.
          <br>
        </span>
            </div>
        </div>

        <div flex layout="column" class="login_box_sx" layout-align="center stretch">
            <span class="login_box_title">
        <h2>#abbashare in action</h2>
      </span>
            <br>
            <div layout="row" layout-align="center center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EFmAtyMNIwY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- box 2-->
        <div flex layout="column" class="login_box_sx" layout-align="center stretch">
            <span class="login_box_title">
        <h2>Simply to start</h2>
      </span>
            <div class="div-1dp" layout layout-align="center center">
                <span class="box_description">Log with you dropbox account.
          <br> To start, simply drag&drop your ipas into the relative field
          <br> Open this link on a Safari on iOS (iPhone or iPad).
          <br> Do you have any doubts? See the tutorial video on youtube at the top of this page.
        </span>
            </div>
            <!-- <img class="box_image" src="/assets/img/generic/tutorial1.png"> -->
        </div>

        <div flex layout="column" class="login_box_sx" layout-align="center stretch">
            <span class="login_box_title">
        <h2>Example of administrator page</h2>
      </span>
            <div class="div-1dp" layout layout-align="center center">
                <img class="" src="/assets/img/wallpaper/img1.png">
            </div>
        </div>

        <!-- box 3 -->
        <div flex layout="column" class="login_box_sx" layout-align="center stretch">
            <span class="login_box_title">
        <h2>Storage, speed and more</h2>
      </span>
            <div class="div-1dp" layout layout-align="center center">
                <span class="box_description">
          <strong>#abbashare</strong> save your ipa files on your Drobox! No files are saved locally on server.
          <br>You can delete anytime this files.
          <br>
          <br>
          Thanks to Dropbox you will can install your app in a few seconds.
          <br>
        </span>
            </div>
        </div>

        <!-- <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.10';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script> -->

        <div class="container" layout="column" layout-align="center center">

            <!-- <div class="fb-page" data-href="https://www.facebook.com/abbashare" data-width="1000" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
        data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/abbashare" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/abbashare">Abbashare</a>
        </blockquote>
      </div> -->

            <a class="twitter-timeline" data-lang="it" data-tweet-limit="3" data-width="70%" data-theme="light" href="https://twitter.com/abbashare">Tweets by #abbashare</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div layout="column" layout-align="center center">
            <span class="footer_beats">
        <h2>thanks to</h2>
      </span>

            <slick infinite="true" lazy-load="progressive" slides-to-show="4" slides-to-scroll="1" autoplay="true" style="width: 80%">
                <md-button ng-href="https://www.meteor.com/" target="_blank">
                    <img class="login_wallpaper_footer" data-lazy="/assets/img/login/meteor.png">
                </md-button>
                <md-button ng-href="https://www.docker.com/" target="_blank">
                    <img class="login_wallpaper_footer" data-lazy="/assets/img/login/docker.png">
                </md-button>
                <md-button ng-href="https://angularjs.org/" target="_blank">
                    <img class="login_wallpaper_footer" data-lazy="/assets/img/login/angularjs.png">
                </md-button>
                <md-button ng-href="https://nodejs.org/" target="_blank">
                    <img class="login_wallpaper_footer" data-lazy="/assets/img/login/nodejs.png">
                </md-button>
                <md-button ng-href="https://www.mongodb.com" target="_blank">
                    <img class="login_wallpaper_footer" data-lazy="/assets/img/login/mongodb.png">
                </md-button>
                <md-button ng-href="https://stackshare.io/sharksoft/abbashare" layout="column" layout-align="center center" target="_blank">
                    <img class="login_wallpaper_footer" data-lazy="/assets/img/login/stackshare.png">
                </md-button>
                <md-button ng-href="https://www.ubuntu.com/" layout="column" layout-align="center center" target="_blank">
                    <img class="login_wallpaper_footer" data-lazy="/assets/img/login/ubuntu.png">
                </md-button>
            </slick>

            <!-- <div class="div-1dp" layout="column" layout-align="center stretch">
      <div layout="row" layout-align="center center">
        <md-button flex="20" ng-href="https://www.meteor.com/" target="_blank">
          <img class="login_wallpaper_footer" ng-src="/assets/img/login/meteor.png">
        </md-button>
        <md-button flex="20" ng-href="https://www.docker.com/" target="_blank">
          <img class="login_wallpaper_footer" src="/assets/img/login/docker.png">
        </md-button>
        <md-button flex="20" ng-href="https://angularjs.org/" target="_blank">
          <img class="login_wallpaper_footer" src="/assets/img/login/angularjs.png">
        </md-button>
      </div>
      <div layout="row" layout-align="center center">
        <md-button flex="20" ng-href="https://nodejs.org/" target="_blank">
          <img class="login_wallpaper_footer" src="/assets/img/login/nodejs.png">
        </md-button>
        <md-button flex="20" ng-href="https://www.mongodb.com" target="_blank">
          <img class="login_wallpaper_footer" src="/assets/img/login/mongodb.png">
        </md-button>
      </div>
      </div> -->

            <!-- <span class="footer_beats">full stack on:</span>
      <div class="div-1dp" style="margin-bottom:20px;" layout="row" layout-align="center center">
        <md-button flex="50" ng-href="https://stackshare.io/sharksoft/abbashare" target="_blank">
          <img class="login_wallpaper_footer" ng-src="/assets/img/login/stackshare.png">
        </md-button>
      </div> -->

        </div>

    </md-content>
</div>